<!-- templates/usuario/password_reset_done.html -->
{% extends "usuario/card.html" %}

{% block content %}
    <h2 class="text-center mb-4">Email Enviado</h2>
    <p>Enviamos instruções por email para configurar sua senha, se existir uma conta com o email que você forneceu. Você deve recebê-las em breve.</p>
    <p>Se você não receber um email, por favor verifique se você digitou o endereço que você usou para se registrar, e verifique sua pasta de spam.</p>
    
    <div class="mt-3 text-center">
        <a href="{% url 'login' %}" class="btn btn-primary w-100">Voltar para login</a>
    </div>
{% endblock %}