<!-- templates/usuario/password_reset_confirm.html -->
{% extends "usuario/card.html" %}

{% block content %}
    <h2 class="text-center mb-4">Redefinir Senha</h2>
    
    {% if validlink %}
        <p>Por favor digite (e confirme) sua nova senha.</p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_new_password1" class="form-label">Nova senha</label>
                <div class="pwd-group">
                    <input type="password" name="new_password1" class="form-control" id="id_new_password1" required>
                    <button id="toggle_btn1" type="button">
                        <i class="fa fa-eye icon-pwd1"></i>
                    </button>
                </div>
                <div class="form-text">
                    <ul>
                        <li>Sua senha não pode ser muito parecida com suas outras informações pessoais.</li>
                        <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                        <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                        <li>Sua senha não pode ser inteiramente numérica.</li>
                    </ul>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="id_new_password2" class="form-label">Confirmar nova senha</label>
                <div class="pwd-group">
                    <input type="password" name="new_password2" class="form-control" id="id_new_password2" required>
                    <button id="toggle_btn2" type="button">
                        <i class="fa fa-eye icon-pwd2"></i>
                    </button>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary w-100">Alterar minha senha</button>
        </form>
    {% else %}
        <div class="alert alert-danger">
            <h4 class="alert-heading">Link inválido</h4>
            <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Por favor solicite uma nova redefinição de senha.</p>
        </div>
        <a href="{% url 'password_reset' %}" class="btn btn-primary w-100">Solicitar novo link</a>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const togglePassword1 = document.querySelector('#toggle_btn1');

            togglePassword1.addEventListener('click', function() {
                const password1 = document.getElementById('id_new_password1');
                const icon1 = this.querySelector('.icon-pwd1');
                
                if (password1.type === 'password') {
                    password1.type = 'text';
                    icon1.classList.replace('fa-eye', 'fa-eye-slash');
                } else {
                    password1.type = 'password';
                    icon1.classList.replace('fa-eye-slash', 'fa-eye');
                }
            });

            const togglePassword2 = document.querySelector('#toggle_btn2');

            togglePassword2.addEventListener('click', function() {
                const password2 = document.getElementById('id_new_password2');
                const icon2 = this.querySelector('.icon-pwd2');

                if (password2.type === 'password') {
                    password2.type = 'text';
                    icon2.classList.replace('fa-eye', 'fa-eye-slash');
                } else {
                    password2.type = 'password';
                    icon2.classList.replace('fa-eye-slash', 'fa-eye');
                }
            });
        });
    </script>
{% endblock %}